body {
	margin: 0;
	padding: 0;
	font-family: 'Dosis', sans-serif;
	/* background: url('../img/mia.jpg'); /
    / background-color: #D3D3D3; */

	background: url('../img/mia.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.Main-container {
	display: grid;
	grid-template-columns: repeat(1, 50%);
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Imagen-container {
	padding-top: 50px;
}

.Imagen {
	width: 40%;
	height: 30%;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.Form-login {
	background-color: rgba(255, 255, 255, 0.5);
	height: 50%;
	width: 20%;
	position: relative;
	top: -8%;
	border-radius: 20px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.Inputs-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Inputs-container input {
	font-size: 14px;
	width: 60%;
	border: none;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.Btn {
	background-color: #D3D3D3;
	font-size: 14px;
	width: 65%;
	border: none;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.Btn:hover {
	background: #87CEEB;
	cursor: pointer;
}

.footer {
	background-color: #000;
	color: #fff;
	position: absolute;
	bottom: 0%;
	height: 15%;
	width: 100%;
}

@media only screen and (max-width :1024px) {
	.Form-login {
		width: 50%;
	}
}

@media only screen and (max-width :768px) {
	.Form-login {
		width: 100vw;
		height: 90vw;
	}
}

@media only screen and (max-width :500px) {
	.Form-login {
		height: 110vw;
	}
}