body {
    background: #F0F8FF;
}

@media only screen and (max-width :950px) and (min-width:300px) {
    form {
        position: static;
        width: 80% !important;
        height: 70% !important;
    }

    input {
        position: relative;
        width: 100%;
    }

}

@media only screen and (max-height :500px) and (min-height: 300px) {

    form {
        width: 80% !important;
        height: 80% !important;
    }

    input {
        width: 100%;
    }

    .navbar-last {
        display: none;
    }
    
}