@media only screen and (max-width :400px) {
    form {
        position: fixed;
        width: 80% !important;
        height: 70% !important;
    }

    input {
        position: relative;
        width: 100%;
    }
}

/* @media only screen and (max-width :383px) {

    form {
        width: 80% !important;
        height: 90% !important;
    }

    input {
        position: relative;
        width: 100%;
    }

    .navbar-last {
        visibility: hidden;
    }
} */